* {
    margin: 0;
    padding: 0; /* Corrigido de 20 para 0, pois 20 não é um valor válido */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffd4f1; /* Cor de fundo da página */
}

.c {
    border: 2px solid #f9a6e4; /* Borda rosa */
    padding: 20px; /* Espaço interno */
    margin: 20px; /* Espaço externo */
    border-radius: 10px; /* Bordas arredondadas */
    background-color: hsl(312, 89%, 93%); /* Cor de fundo suave */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
    padding: 10px 20px;
    border-bottom: 1px solid #f781e7;
}

h1 {
    font-size: 15pt;
    color: #000;
}

h1 a {
    text-decoration: none;
    color: white; /* Cor do texto */
}

h1 a:hover,
h1 a:active {
    color: white; /* Mantém a cor ao passar o mouse e ao clicar */
}

/* Ícone de hambúrguer para telas pequenas */
.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none; /* Oculto em telas grandes */
    color: white;
}

header form {
    flex: 1; /* O formulário ocupa o espaço central */
    display: flex;
    justify-content: center; /* Centraliza a barra de pesquisa */
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px; 
    background-color: transparent; 
    border: 1px solid #ccc; /* Borda clara */
    color: #000; /* Cor do texto preta */
    outline: none; /* Remove borda azul padrão */
}

input[type="text"]::placeholder {
    color: #b84949; 
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #f781e7; /* Cor de fundo rosa */
    color: rgb(141, 44, 44);
    border: none; 
    cursor: pointer; 
}

button:hover {
    background-color: #ff66b2; 
}

nav {
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px; 
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ec60c9; 
}

.principal {
    margin-top: 200px;
    text-align: center;
}

.botao-publicar-projeto {
    display: inline-block;
    padding: 15px 30px;
    color: #fff; /* Cor do texto */
    background-color: #f0a3e0; /* Cor do fundo */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    transition: background-color 0.3s ease; /* Efeito de transição */
}

.botao-publicar-projeto:hover {
    background-color: #ffc2f8; /* Cor ao passar o mouse */
}

.botao-voltar {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.botao-voltar:hover {
    background-color: #45a049;
}
